{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": ["off"],
    "no-plusplus": ["off"],
    "no-param-reassign": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2019
  }
}
